 * {
     text-decoration: none;
 }

 body {
     font-family: Lato;
 }

 .header {
     background: #222;
 }


 .center {
     padding-left: calc(50% - 900px);
     padding-right: calc(50% - 900px);
 }

 .content {
     display: flex;
     justify-content: space-between;
     min-height: 75px;
     align-items: center;
 }

 .menu {
     display: flex;
     gap: 40px;
     justify-content: space-around;
 }

 .block {
     background: #F1E4E6;
 }

 .page {
     display: flex;
     justify-content: center;
 }

 .top {
     width: 800.58px;
     height: 764px;
     flex-shrink: 0;
 }

 .right {
     display: flex;
     align-items: center;

 }

 .palka {
     width: 100%;
     height: auto;

 }

 .man_text {
     margin-top: 345px;
     margin-left: 500;
 }


 .greed {
     margin-top: 80px;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 30px;
     margin-left: calc(50% - 570px);
     margin-right: calc(50% - 570px);
 }

 .items {
     position: relative;
     width: 360px;
     height: 260px;
 }

 .tekst {
     left: 105px;
     position: absolute;
     top: 30%;
     text-align: center;
     font-family: Lato;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
 }

 .itemslongs {
     position: relative;
     margin-top: 25px;
     margin-left: 345px;
 }

 .tekst2 {
     left: 450px;
     position: absolute;
     top: 20%;
     text-align: center;
     font-family: Lato;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
 }

 .zxc {
     color: #FFF;
     text-align: center;
     font-family: Lato;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
 }

 .tekst2 h1 {
     color: #F16D7F;
     font-family: Lato;
     font-size: 24px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
 }

 .tekst h1 {
     color: #F16D7F;
     font-family: Lato;
     font-size: 24px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
 }


 .zaq {
     display: flex;
     justify-content: center;
 }

 .paq {
     color: #9F9F9F;
     font-family: Lato;
     font-size: 14px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     margin-top: 20px;
     display: flex;
     justify-content: center;
 }


 .blockthree {
     display: grid;

 }

 .phoyo {
     display: grid;
 }

 .qaz {
     display: flex;

     color: #222;
     font-family: Lato;
     font-size: 30px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
 }

 .pat {
     display: flex;
     justify-content: center;
     color: #9F9F9F;
     font-family: Lato;
     font-size: 14px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
 }


 .blockthree {
     margin-top: 130px;
     display: flex;
     justify-content: center;
     gap: 50px;
 }

 .blockfoo {
     margin-top: 55px;
     display: flex;
     justify-content: center;
     gap: 50px;
 }

 .card {
     background-color: #e9e4e4;
 }


 .bat {
     margin-top: 100px;
     display: flex;
     justify-content: center;
 }

 .button {
     border: 1px solid #FF6A6A;
     color: #F26376;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     padding: 15px 39px;
     background: white;
 }

 @media (max-width: 1024px) {
     .center_content {
         margin-left: calc(50% - 280px);
         margin-right: calc(50% - 280px);

     }

     .center_page {
         margin-left: calc(50% - 340px);
         margin-right: calc(50% - 340px);

     }

     .menu {
         width: 300px;
         max-width: 100%;
         justify-content: center;
     }

     .page {
         width: 60vw;
         max-width: 100%;
         justify-content: center;
     }

     .top {
         width: 60vw;
         max-width: 100%;
         justify-content: center;
     }

     .palka {
         width: 40px;
         height: 80px;
         max-width: 100%;
         justify-content: center;
     }

     .items {
         width: 30vw;
         max-width: 100%;
         justify-content: center;
     }

     .itemslongs {
         justify-content: center;
         width: 50vh;
         height: 350px;
         max-width: 100%;
         justify-content: center;
     }


     .product {
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 340px;

     }

     .product2 {
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 340px;
     }
 }