 * {
     text-decoration: none;
 }

 .header {
     background: #222;
 }

 .content {
     margin-left: calc(50% - 570px);
     margin-right: calc(50% - 570px);
     display: flex;
     justify-content: space-between;
     min-height: 75px;
     align-items: center;
 }

 .menu {
     display: flex;
     gap: 40px;
     align-items: center;
 }

 .block {
     background: #F1E4E6;
 }

 .page {
     display: flex;
     justify-content: center;
 }

 .top {
     width: 800.58px;
     height: 764px;
     flex-shrink: 0;
 }

 .right {
     display: flex;
     align-items: center;

 }

 .palka {
     width: 100%;
     height: auto;

 }

 .man_text {
     margin-top: 345px;
     margin-left: 500;
 }


 .greed {
     margin-top: 80px;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 30px;
     margin-left: calc(50% - 570px);
     margin-right: calc(50% - 570px);
 }

 .items {
     position: relative;
 }

 .tekst {
     left: 105px;
     position: absolute;
     top: 30%;
     text-align: center;
     font-family: Lato;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
 }

 .itemslongs {
     position: relative;
     margin-top: 25px;
     margin-left: 345px;
 }

 .tekst2 {
     left: 450px;
     position: absolute;
     top: 20%;
     text-align: center;
     font-family: Lato;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
 }

 .blockthree {
    display: grid;
 }